* {
  margin: 0;
  padding: 0;
}
:root {
  --darkGrey: hsl(0, 0%, 55%);
  --veryDarkGrey: hsl(0, 0%, 41%);
  --alata: "Alata", sans-serif;
  --josefin: "Josefin Sans", sans-serif;
}
body {
  width: 100%;
  font-family: var(--alata);
}
header {
  margin-bottom: 96px;
  position: relative;
  width: 100%;
  height: 650px;
  background-image: url(../images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.menudesktop {
  display: none;
}
nav {
  position: absolute;
  top: 40px;
  left: 5%;
  right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 144px;
  height: 24px;
}
.hamburger {
  width: 24px;
  height: 16px;
}
h1 {
  position: absolute;
  top: 227px;
  left: 5%;
  right: 5%;
  bottom: 227px;
  border: 1px solid white;
  font-family: var(--josefin);
  font-size: 40px;
  font-weight: 300;
  line-height: 38px;
  text-transform: uppercase;
  color: white;
  padding: 26px;
}
.close {
  position: absolute;
  top: 40px;
  right: 9%;
}
/* --------menu mobile------- */
.navmobile {
  position: absolute;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 1;
  padding: 40px 0 0 5%;
  transition: 0.5s;
}
.navmobile div:last-of-type {
  margin-top: 159px;
  display: flex;
  flex-direction: column;
  font-family: var(--josefin);
  text-transform: uppercase;
  gap: 24px;
  font-size: 24px;
}
.navmobile div:last-of-type a {
  text-decoration: none;
  color: white;
}
.shownav {
  display: block;
}
/* --------end menu mobile------- */
main {
  width: 90%;
  margin: 0 auto 0;
}
.leader img {
  margin-bottom: 32px;
  width: 100%;
}
.leader-text h2 {
  margin-bottom: 16px;
  font-family: var(--josefin);
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}
.leader-text p {
  margin-bottom: 96px;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
  text-align: center;
}
.creation section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.creation > div > a:first-of-type {
  display: none;
}
.creation h2 {
  margin-bottom: 48px;
  font-size: 32px;
  font-family: var(--josefin);
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
}
section div {
  position: relative;
  width: 327px;
  height: 120px;
  background-size: contain;
}
section div:nth-child(1) {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url(../images/mobile/image-deep-earth.jpg);
}
section div:nth-child(2) {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url(../images/mobile/image-night-arcade.jpg);
}
section div:nth-child(3) {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url(../images/mobile/image-soccer-team.jpg);
}
section div:nth-child(4) {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url(../images/mobile/image-grid.jpg);
}
section div:nth-child(5) {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url(../images/mobile/image-from-above.jpg);
}
section div:nth-child(6) {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url(../images/mobile/image-pocket-borealis.jpg);
}
section div:nth-child(7) {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url(../images/mobile/image-curiosity.jpg);
}
section div:nth-child(8) {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url(../images/mobile/image-fisheye.jpg);
}
section h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 130px;
  font-family: var(--josefin);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: white;
  text-shadow: 0 0 100px black;
}
section {
  margin-bottom: 34px;
}
.creation a {
  display: block;
  width: 157px;
  height: 40px;
  margin: 0 auto 96px;
  border: 1px solid black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 40px;
  text-align: center;
}
footer {
  box-sizing: border-box;
  padding-top: 56px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}
footer a {
  color: white;
  text-decoration: none;
}
footer img {
  display: inline-block;
  width: 144px;
  margin: 0 auto 32px;
}
.footer-logo > div:last-of-type {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 48px;
  font-size: 15px;
}
.social a {
  font-size: 24px;
  margin: 8px;
}
.social div:last-of-type {
  font-size: 15px;
  opacity: 0.5;
  margin: 16px;
}
.frontendmentor {
  font-size: 10px;
  margin-bottom: 10px;
}
